services:
  app:
    build: .
    container_name: saferoad-app
    ports:
    - "80:8080"
    environment:
      DB_URL: ${DB_URL:-jdbc:mysql://host.docker.internal:3306/teamroute?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&connectionCollation=utf8mb4_general_ci&serverTimezone=Asia/Seoul}
      DB_USER: ${DB_USER:-springuser}
      DB_PASSWORD: ${DB_PASSWORD:-teamroute123123}

      JWT_SECRET: ${JWT_SECRET:[JWT_secret]]}
      JWT_ACCESS_SECONDS: ${JWT_ACCESS_SECONDS:-3600}
      JWT_REFRESH_SECONDS: ${JWT_REFRESH_SECONDS:-1209600}

    extra_hosts:
      - "host.docker.internal:host-gateway"